$primary: #54a4d8;

html {
  font-size: 16px;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  width: 20rem;
  padding: 1rem;
  background: #1a181b;
  color: white;
}

h1,
h2 {
  padding: 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}

h1 {
  font-size: 1.4rem;
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: normal;
  border-bottom: 1px solid $primary;
  color: white;
  margin-top: 0;
}

.input-group {
  display: block;
  margin: 0.5rem 0;
}

.toggle-group,
.radio-group {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin: 0;
  width: 1em;
  height: 1em;
  margin: 0.25em 0.5rem;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0.25rem solid white;
  border-radius: 50%;
  appearance: none;
}

input[type="radio"]:checked {
  border-color: $primary;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #413c44;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: $primary;
}

input:focus+.slider {
  box-shadow: 0 0 1px $primary;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
